<div id="question-id-<%= question.id %>">
  <div class="card w-full bg-base-100 card-s shadow-sm">
      <div class="card-body items-center text-center">
        <h4 class="card-title">
          <%= link_to question.title, '#', class: "link link-primary text-2xl" %>
        </h4>
        <div class="flex justify-end gap-2 mb-2">
          <%= link_to '#', id: "button-edit-#{question.id}", class: "btn btn-ghost btn-sm" do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
          <%= link_to '#', id: "button-delete-#{question.id}", method: :delete, data: { confirm: '' }, class: "btn btn-ghost btn-sm text-error" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
        <div class="flex gap-4 text-sm opacity-70 mb-2">
          <div class="flex items-center gap-1">
            <i class="fa-solid fa-user"></i>
            <%= question.user.name %>
          </div>
          <div class="flex items-center gap-1">
            <i class="fa-solid fa-calendar"></i>
            <%= l question.created_at, format: :short %>
          </div>
        </div>
        <p class="text-base-content/80"><%= question.description %></p>
      </div>
  </div>
</div>