
<div id="question-id-<%= question.id %>">
  <div class="card w-full bg-base-100 card-s shadow-xl">
    <div class="card-body relative">
      <%= link_to game_path(question), class: "btn w-full btn-outline btn-success shadow-xl p-4 items-center flex flex-col justify-center h-full" do %>
        <h4 class="card-title font-mplus1 text-center">
          <%= question.title %>
        </h4>
        <p><%= truncate("#{question.description}", omission: "…") %></p>
      <% end %>

      <div class="flex justify-start items-start text-sm opacity-70 w-full mb-6">
        <div class="flex flex-wrap gap-1 justify-start max-w-xs">
          <% question.tags.each do |tag| %>
            <%= link_to truncate(tag.name, length: 10, omission: "…"), search_tag_path(tags_name: tag.name), class: 'badge badge-outline badge-info shadow-lg text-xs flex-shrink-0', title: tag.name %>
          <% end %>
        </div>
      </div>

      <div class="absolute bottom-4 right-4 flex items-center gap-4 text-sm opacity-70">
        <div class="flex items-center gap-1">
          <i class="fa-solid fa-user"></i>
          <%= question.user.name %>
        </div>
        <% if current_user && current_user.own?(question) %>
          <div class="flex gap-2">
            <%= link_to edit_question_path(question), id: "button-edit-#{question.id}" do %>
              <i class="fa-solid fa-pen text-success"></i>
            <% end %>
            <%= link_to question_path(question), id: "button-delete-#{question.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }  do %>
              <i class="fa-solid fa-trash text-error"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>