<div class="max-w-md w-full bg-base-100 mx-auto p-4 sm:p-6">
<% breadcrumb :user_new %>
<h1 class="text-3xl font-bold mb-6 text-center">
  <%= t('devise.registrations.new.sign_up') %>
</h1>
<div class="max-w-md w-full mx-auto bg-base-200 p-4 sm:p-6 rounded-xl shadow-lg">
  <%= render "devise/shared/sns_login_btn" %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  
  <fieldset class="fieldset">
    <%= f.label :name, class: "fieldset-legend" %>
    <%= f.text_field :name, class: "input w-full mx-auto", placeholder: "ユーザー名を入力", autofocus: true %>
  </fieldset>

  <fieldset class="fieldset mt-2">
    <%= f.label :email, class: "fieldset-legend" %>
    <%= f.email_field :email, class: "input w-full mx-auto", autocomplete: "email", placeholder: "例：sample@example.com"  %>
  </fieldset>

  <fieldset class="fieldset mt-2">
    <div class="flex fieldset-legend inline">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(英数字 <%= @minimum_password_length %> 文字以上)</em>
      <% end %>
    </div>
    <%= f.password_field :password, class: "input w-full mx-auto", placeholder: "パスワードを入力", autocomplete: "new-password" %>
  </fieldset>

  <fieldset class="fieldset mt-2">
    <%= f.label :password_confirmation, class: "fieldset-legend" %>
    <%= f.password_field :password_confirmation, class: "input w-full mx-auto", placeholder: "もう1度パスワードを入力", autocomplete: "new-password" %>
  </fieldset>

  <div class="actions my-8">
    <%= f.submit "登録", class:"btn btn-primary lg:text-lg tracking-widest w-full mx-auto shadow-xs" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


</div>
</div>