<div class="breadcrumbs text-sm">
  <ul>
    <li><%= link_to t('.question_index'), questions_path, class: "link link-hover" %></li>
    <li><%= link_to @question.title, @question, class: "link link-hover" %></li>
    <% if local_assigns[:action] == 'card_sets#new' %>
      <li class="text-base-content/70"><%= t('.card_set_new') %></li>
    <% elsif local_assigns[:action] == 'related_word#new' %>
      <li class="text-base-content/70">【<%= @origin_word.origin_word %>】<%= t('.add_related_word') %></li>
    <% else %>
      <li class="text-base-content/70"><%= t('.card_set_edit') %></li>
    <% end %>
  </ul>
</div>