<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 lg:grid-cols-8">
    <div class="lg:col-start-2 lg:col-span-6">
      <%= render('card_sets/breadcrumbs', action:'card_sets#new') %>
      <div class="card bg-base-100 shadow-lg p-4">
      <h1 class="text-2xl font-bold text-left px-6 mb-2"><%= t('.title') %></h1>
          <%= render "card_sets/card_limit_info", question: @question %>

        <div class="card bg-base-100 shadow-lg">
          <div class="card-body">
            <%= form_with(model: @card_set, url: question_card_sets_path, local: true) do |form| %>
            <%= render 'shared/error_messages', object: @card_set %>

              <div class="form-control mb-4">
                <%= form.label :origin_word do %>
                  <span class="label-text"><%= CardSet.human_attribute_name(:origin_word) %></span>
                <% end %>
                <%= form.text_field :origin_word, 
                                class: "input input-bordered w-full",
                                placeholder: t('.origin_word_placeholder') %>
              </div>

              <div class="form-control mb-4">
                <%= form.label :related_word do %>
                  <span class="label-text"><%= CardSet.human_attribute_name(:related_word) %></span>
                <% end %>
                <%= form.text_field :related_word, 
                                class: "input input-bordered w-full",
                                placeholder: t('.related_word_placeholder') %>
              </div>

              <%= render 'card_sets/form_buttons', form: form, context: :card_sets_new %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
