<% breadcrumb :mypage %>
<h1 class="text-2xl font-bold text-left p-6"><%= t('.title') %></h1>
<div class="md:justify-self-start">
  <div class="max-w-3xl mx-auto px-4">

    <%= turbo_frame_tag current_user do %>
      <%= render "profile" %>
    <% end %>
  </div>
</div>

<!-- name of each tab group should be unique -->
<div class="tabs tabs-lift mt-3 p-4">
  <%= link_to mypage_user_path(tab: 'user_questions'),
              class: "tab #{'tab-active' if @current_tab == 'user_questions'}",
              role: 'tab',
              aria: { label: t('.user_questions') } do %>
    <%= t('.user_questions') %>
  <% end %>
  <div class="tab-content bg-base-100 border-base-300 p-6 <%= 'hidden' unless @current_tab == 'user_questions' %>">
    <%= render 'user_questions' %>
  </div>

  <%= link_to mypage_user_path(tab: 'user_lists', list_id: @list.id),
              class: "tab #{'tab-active' if @current_tab == 'user_lists'}",
              role: 'tab',
              aria: { label: t('.user_lists') } do %>
    <%= t('.user_lists') %>
  <% end %>
  <div class="tab-content bg-base-100 border-base-300 p-6 <%= 'hidden' unless @current_tab == 'user_lists' %>" data-controller="list-selector">
    <div class="lg:flex gap-4">
      <div id="list_selector_container" class="mb-4">
        <%= render "list_selector", lists: @lists, selected_list_id: @list.id %>
      </div>


      <div class="flex gap-4">
        <div data-controller="list-modal" data-action="turbo:submit-end->list-modal#handleSubmitEnd" class="<%= 'hidden' if @list.is_favorite %>">
          <button class="btn btn-outline btn-accent lg:mt-7" onclick="edit_list_modal.showModal()" data-list-selector-target="editLink">リスト名変更</button>
          <dialog id="edit_list_modal" class="modal modal-bottom sm:modal-middle" data-list-modal-target="dialog">
            <div class="modal-box">
              <%= turbo_frame_tag "edit_list", src: edit_list_path(@list), data: { list_modal_target: "frame" } do %>
                <p>読み込み中...</p>
              <% end %>
            </div>
            <form method="dialog" class="modal-backdrop">
              <button>close</button>
            </form>
          </dialog>
        </div>

        <div data-controller="list-modal" data-action="turbo:submit-end->list-modal#handleSubmitEnd">
          <button class="btn btn-primary lg:mt-7" onclick="my_modal_5.showModal()">新規リスト作成</button>
          <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle" data-list-modal-target="dialog">
            <div class="modal-box">
              <%= turbo_frame_tag "new_list", src: new_list_path, data: { list_modal_target: "frame" } do %>
                <p>読み込み中...</p>
              <% end %>
            </div>
            <form method="dialog" class="modal-backdrop">
              <button>close</button>
            </form>
          </dialog>
        </div>
      </div>
    </div>

    <%= render 'shared/filter_out_understood_questions' %>

    <% if @list_questions.present? %>
      <%= link_to batch_play_list_path(@list), class: "btn btn-secondary mt-4 mb-4" do %>
        <i class="fa-solid fa-play"></i>
        このリストをまとめてプレイ
      <% end %>
    <% end %>

    <%= turbo_frame_tag "list_questions" do %>
      <%= render partial: "users/list_questions", locals: { list_questions: @list_questions, list_id: @list.id } %>
    <% end %>
  </div>

  <%= link_to mypage_user_path(tab: 'game_records'),
              class: "tab #{'tab-active' if @current_tab == 'game_records'}",
              role: 'tab',
              aria: { label: t('.game_records') } do %>
    <%= t('.game_records') %>
  <% end %>
  <div class="tab-content bg-base-100 border-base-300 p-6 <%= 'hidden' unless @current_tab == 'game_records' %>">

        <div class="mb-2">
          <%= render 'shared/filter_out_understood_questions' %>
        </div>
        <!--%= render 'game_records/game_records' %-->
        <% if @game_records.present? %>
          <%= paginate @game_records, param_name: :game_records_page, params: { tab: 'game_records' } %>
            <%= render 'game_records/game_record' %>
          <div class="p-6">
            <%= paginate @game_records, param_name: :game_records_page, params: { tab: 'game_records' } %>
          </div>
        <% else %>
          <div class="m-8">履歴がありません</div>
        <% end %>

  </div>
</div>
