<% breadcrumb :mypage %>
<h1 class="text-2xl font-bold text-left p-6"><%= t('.title') %></h1>
<div class="md:justify-self-start">
  <div class="max-w-3xl mx-auto px-4">

    <%= turbo_frame_tag current_user do %>
      <%= render "profile" %>
    <% end %>
  </div>
</div>

<!-- name of each tab group should be unique -->
<div class="tabs tabs-lift mt-3 p-4">
  <%= radio_button_tag 'my_tabs_3', 'user_questions', @current_tab == 'user_questions',
                     class: 'tab',
                     aria: { label: t('.user_questions') } %>
  <div class="tab-content bg-base-100 border-base-300 p-6">
    <%= render 'user_questions' %>
  </div>

  <%= radio_button_tag 'my_tabs_3', 'user_lists', @current_tab == 'user_lists',
                     class: 'tab',
                     aria: { label: t('.user_lists') } %>
  <div class="tab-content bg-base-100 border-base-300 p-6">
    <h2 class="text-xl font-bold mb-4"><%= @list.name %></h2>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12 mx-auto max-w-screen-6xl py-8 items-stretch">
      <% if @favorite_questions.present? %>
        <%= render @favorite_questions %>
      <% else %>
        <div class="m-8">問題がありません</div>
      <% end %>
    </div>
  </div>

  <%= radio_button_tag 'my_tabs_3', 'game_records', @current_tab == 'game_records',
                     class: 'tab',
                     aria: { label: t('.game_records') } %>
  <div class="tab-content bg-base-100 border-base-300 p-6">
    <ul class="list bg-base-100 rounded-box shadow-md">
        <!--%= render 'game_records/game_records' %-->
        <% if @game_records.present? %>
        <%= paginate @game_records, param_name: :game_records_page, params: { tab: 'game_records' } %>
          <%= render 'game_records/game_record' %>
        <div class="p-6">
          <%= paginate @game_records, param_name: :game_records_page, params: { tab: 'game_records' } %>
        </div>
        <% else %>
          <div class="m-8">履歴がありません</div>
        <% end %>
    </ul>
  </div>
</div>
