<h1 class="text-2xl font-bold text-left p-6"><%= t('.title') %></h1>
<div class="md:justify-self-start">
  <div class="max-w-3xl mx-auto px-4">


    <div class="card w-93 bg-base-100 card-xs shadow-sm px-3">
      <div class="card-body">
        <div>
          <div class="flex items-center gap-2">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
            <h2 class="text-xl font-semibold"><%= current_user.name %></h2>
          </div>
          <div class="flex items-center gap-2">
            <i class="fa-solid fa-envelope" aria-hidden="true"></i>
            <h3 class="text-lg"><%= current_user.email %></h3>
          </div>
        </div>
        <div class="justify-end card-actions">
          <%= link_to t('defaults.edit'), edit_user_registration_path, class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- name of each tab group should be unique -->
<div class="tabs tabs-lift mt-3 p-4">
  <input type="radio" name="my_tabs_3" class="tab" aria-label=<%= t('.user_questions') %> checked="checked" />
  <div class="tab-content bg-base-100 border-base-300 p-6">
    <%= render 'user_questions' %>
  </div>

  <input type="radio" name="my_tabs_3" class="tab" aria-label=<%= t('.user_lists') %> />
  <div class="tab-content bg-base-100 border-base-300 p-6">
    準備中！お楽しみに～～！
  </div>

  <input type="radio" name="my_tabs_3" class="tab" aria-label=<%= t('.game_records') %> />
  <div class="tab-content bg-base-100 border-base-300 p-6">
    準備中！お楽しみに～～！
  </div>
</div>
