<% breadcrumb :mypage %>
<div class="flex flex-col lg:pt-6 <%= "#{'lg:flex-row' if @user.bio.present?}" %> gap-4 px-4">
  <div class="w-full  <%= "#{'lg:w-auto lg:h-full' if @user.bio.present?}" %> ">
    <div class="card bg-base-100 card-xs px-3">
      <div class="card-body">
        <%= render "profile" %>
      </div>
    </div>
  </div>
  <div class="<%= "#{'lg:pt-3' if @user.bio.present?}" %> lg:pl-6">
    <%= render 'calender_chart' %>
  </div>
</div>

<div class="tabs tabs-lift mt-3 p-4">
  <%= link_to mypage_path(tab: 'user_questions'),
              class: "tab #{'tab-active' if @current_tab == 'user_questions'}",
              role: 'tab',
              aria: { label: t('.user_questions') } do %>
    <%= t('.user_questions') %>
  <% end %>
  <div class="tab-content bg-base-100 border-base-300 p-6 <%= 'hidden' unless @current_tab == 'user_questions' %>">
    <%= paginate @questions, param_name: :questions_page, params: { tab: 'user_questions' } %>
    <%= render 'mypage_user_questions' %>
  </div>

  <%= link_to mypage_path(tab: 'user_lists', list_id: @list.id),
              class: "tab #{'tab-active' if @current_tab == 'user_lists'}",
              role: 'tab',
              aria: { label: t('.user_lists') } do %>
    <%= t('.user_lists') %>
  <% end %>
  <div class="tab-content bg-base-100 border-base-300 p-6 <%= 'hidden' unless @current_tab == 'user_lists' %>" data-controller="list-selector">
    <div class="flex">
      <div id="list_selector_container" class="mb-2">
        <%= render "list_selector", lists: @lists, selected_list_id: @list.id %>
      </div>

      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost"><i class="fa-solid fa-ellipsis-vertical"></i></div>
        <ul tabindex="-1" class="dropdown-content menu bg-gradient-to-br from-base-100 to-base-200 rounded-box z-1 w-52 p-2 shadow-sm">
          <div class="<%= 'hidden' if @list.is_favorite %>" >

            <li>
              <%= link_to edit_list_path(@list), data: { turbo_frame: "modal" } do %>
                <i class="fa-solid fa-pen text-success/70" aria-hidden="true"></i>
                リスト名を変更
              <% end %>
            </li>

            <li>
              <%= link_to @list, class: "text-warning", data: {turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                 <i class="fa-solid fa-trash text-warning/70" aria-hidden="true"></i>
                  このリストを削除
              <% end %>
            </li>
          </div>

          <li>
            <%= link_to new_list_path(list_id: @list.id), data: { turbo_frame: "modal" } do %>
              <i class="fa-solid fa-plus text-error" aria-hidden="true"></i>
              新規リストを作成
            <% end %>
          </li>

        </ul>
      </div>
    </div>

    <%= render 'shared/filter_out_understood_questions' %>

    <% if @list_questions.present? %>
      <%= link_to batch_play_list_path(@list), class: "btn btn-secondary mt-2 mb-4" do %>
        <i class="fa-solid fa-play"></i>
        このリストをまとめてプレイ
      <% end %>
    <% end %>

    <%= turbo_frame_tag "list_questions" do %>
      <%= render partial: "users/list_questions", locals: { list_questions: @list_questions, list_id: @list.id } %>
    <% end %>
  </div>

  <%= link_to mypage_path(tab: 'game_records'),
              class: "tab #{'tab-active' if @current_tab == 'game_records'}",
              role: 'tab',
              aria: { label: t('.game_records') } do %>
    <%= t('.game_records') %>
  <% end %>
  <div class="tab-content bg-base-100 border-base-300 p-6 <%= 'hidden' unless @current_tab == 'game_records' %>">

        <div class="mb-2">
          <%= render 'shared/filter_out_understood_questions' %>
        </div>
        <!--%= render 'game_records/game_records' %-->
        <% if @game_records.present? %>
          <%= paginate @game_records, param_name: :game_records_page, params: { tab: 'game_records' } %>
            <%= render 'game_records/game_record' %>
          <div class="p-6">
            <%= paginate @game_records, param_name: :game_records_page, params: { tab: 'game_records' } %>
          </div>
        <% else %>
          <div class="m-8">履歴がありません</div>
        <% end %>

  </div>
</div>

<%= turbo_frame_tag "modal" %>
