<div class="navbar bg-base-300 shadow-sm flex justify-between sticky top-0 lg:h-[63px] lg:min-h-[63px]">
  <div class="navbar-start flex items-center">
    <%= link_to '/', class: 'flex items-center space-x-2' do %>
      <%= image_tag 'NeuroWord_logo.webp', class: 'w-auto lg:h-[60px] lg:min-h-[60px]' %>
    <% end %>
    <!-- PC用ヘッダーメニュー（左側） -->
      <div class="hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li>
            <%= link_to questions_path do %>
              <i class="fa-solid fa-magnifying-glass" viewBox="0 0 24 24"></i>
              <span><%= t('shared.defaults.search_question') %></span>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to new_question_path do %>
                <i class="fa-solid fa-circle-plus" viewBox="0 0 24 24"></i>
                <span><%= t('shared.defaults.create_question') %></span>
              <% end %>
            </li>
            <li>
              <details>
                <summary>
                  <i class="fa-solid fa-user" viewBox="0 0 24 24"></i>
                  <span><%= t('shared.defaults.mypage') %></span>
                </summary>
                <ul class="bg-base-100 rounded-box z-1 p-2 shadow-sm w-max min-w-32">
                  <li>
                    <%= link_to mypage_path do %>
                      <span class="whitespace-nowrap">TOP</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to mypage_path(tab: 'user_questions') do %>
                      <span class="whitespace-nowrap"><%= t('shared.defaults.user_questions') %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to mypage_path(tab: 'user_lists') do %>
                      <span class="whitespace-nowrap"><%= t('shared.defaults.user_lists') %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to mypage_path(tab: 'game_records') do %>
                      <span class="whitespace-nowrap"><%= t('shared.defaults.game_records') %></span>
                    <% end %>
                  </li>
                </ul>
              </details>
            </li>
          <% end %>
        </ul>
      </div>
  </div>


  <!-- スマホメニュー（ログインユーザー） -->
  <% if user_signed_in? %>
   <% if must_check_request_to_user_count > 0 %>
    <div class="navbar-end dropdown dropdown-end lg:hidden">
      <ul class="menu menu-horizontal px-1">
        <li>
          <details>
            <summary>
              <div class="indicator">
                <span class="indicator-item indicator-start badge badge-primary lg:hidden">!</span>
                <div class="bg-base-300 pl-6 grid place-items-center">
                  <%= turbo_frame_tag "header_name_sp" do %>
                    <%= render "shared/header_name" %>
                  <% end %>
                </div>
              </div>
            </summary>
            <%= render 'shared/header_end_authenticated' %>
          </details>
        </li>
      </ul>
    </div>
    <% else %>
      <div class="navbar-end dropdown dropdown-end lg:hidden">
        <ul class="menu menu-horizontal px-1">
          <li>
            <details>
              <summary>
                <div class="bg-base-300 pl-6 grid place-items-center">
                  <%= turbo_frame_tag "header_name_sp" do %>
                    <%= render "shared/header_name" %>
                  <% end %>
                </div>
              </summary>
              <%= render 'shared/header_end_authenticated' %>
            </details>
          </li>
        </ul>
      </div>
    <% end %>
    <!-- PC版ユーザーメニュー -->
    <div class="navbar-end hidden lg:flex">
        <% if must_check_request_to_user_count > 0 %>
          <%= render 'shared/request_to_user_btn' %>
        <% end %>
      <div class="dropdown dropdown-end">
        <ul class="menu menu-horizontal px-1">
          <li>
          <details>
            <summary class="text-xl">
              <%= turbo_frame_tag "header_name_pc" do %>
                <%= render "shared/header_name" %>
              <% end %>
            </summary>
            <%= render 'shared/header_end_authenticated' %>
          </details>
          </li>
        </ul>
      </div>
    </div>
  <% else %>
    <!-- 共通_ログイン前メニュー -->
    <div class="flex-none">
      <ul class="menu menu-horizontal">
        <li class="mx-2">
          <%= link_to t('shared.defaults.login'), new_user_session_path, class: "btn btn-secondary btn-sm md:btn-md" %>
        </li>
        <li class="ml-1">
          <%= link_to t('shared.defaults.sign_up'), new_user_registration_path, class: "btn btn-primary btn-sm md:btn-md" %>
        </li>
      </ul>
    </div>
  <% end %>
</div>



