
        <ul class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm" >
          <% if must_check_request_to_user_count > 0 %>
            <li class="lg:hidden">
              <%= render 'shared/request_to_user_btn' %>
            </li>
          <% end %>
          <li class="lg:hidden"><a>マイページ</a>
            <ul class="p-2">
              <li>
                <%= link_to mypage_user_path do %>
                  <span class="whitespace-nowrap">TOP</span>
                <% end %>
              </li>
              <li>
                <%= link_to mypage_user_path(tab: 'user_questions') do %>
                  <span class="whitespace-nowrap">作った問題</span>
                <% end %>
              </li>
              <li>
                <%= link_to mypage_user_path(tab: 'user_lists') do %>
                  <span class="whitespace-nowrap">マイリスト</span>
                <% end %>
              </li>
              <li>
                <%= link_to mypage_user_path(tab: 'game_records') do %>
                  <span class="whitespace-nowrap">プレイ履歴</span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="lg:hidden"></li>
          <li><%= link_to '修正依頼一覧', requests_path %></li>
          <li><%= link_to '修正依頼を投稿', new_request_path %></li>
          <li></li>
          <div class="lg:hidden">
            <li><%= link_to '（準備中）利用規約', '#' %></li>
            <li><%= link_to '（準備中）プライバシーポリシー', '#' %></li>
            <li><%= link_to 'お問い合わせ', 'https://x.com/MO_study2408' %></li>
            <li></li>
          </div>
          <li>
            <%= link_to destroy_user_session_path, class: "text-warning", data: { turbo_method: :delete } do %>
              <i class="fa-solid fa-right-from-bracket" viewBox="0 0 24 24"></i>
              <span>ログアウト</span>
            <% end %>
          </li>
          <li><div div class='copyright lg:hidden'>
            <p>Copyright © 2025 NeuroWord～仲間の言葉を見つけよう！～</p>
          </div></li>
        </ul>
