<div class="navbar bg-base-300 shadow-sm flex justify-between">
  <div class="navbar-start flex items-center">
    <%= link_to '/', class: 'flex items-center space-x-2' do %>
      <%= image_tag 'NeuroWord_logo.png', class: 'w-auto' %>
    <% end %>
    <!-- PC用ヘッダーメニュー（ログインユーザー） -->
    <% if user_signed_in? %>
      <div class="hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a>準備中</a></li>
          <li>
            <details class="relative">
              <summary>準備中</summary>
              <ul class="p-2 absolute left-0 mt-2 bg-base-100 rounded-box shadow z-[9999]">
                <li><a>準備中</a></li>
                <li><a>準備中</a></li>
              </ul>
            </details>
          </li>
          <li><%= link_to 'お問い合わせ', 'https://x.com/MO_study2408' %></li>
        </ul>
      </div>
    <% end %>
  </div>


  <!-- スマホメニュー（ログインユーザー） -->
  <% if user_signed_in? %>
    <div class="navbar-end ml-4 dropdown dropdown-end lg:hidden">
      <ul class="menu menu-horizontal px-1">
        <li>
          <details>
            <summary><%= "#{current_user.name}さん" %></summary>
            <ul class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm" >
              <li><a>準備中</a></li>
              <li><a>準備中</a>
                <ul class="p-2">
                  <li><a>準備中</a></li>
                  <li><a>準備中</a></li>
                </ul>
              </li>
              <li><%= link_to 'お問い合わせ', 'https://x.com/MO_study2408' %></li>
              <li>
                <%= link_to destroy_user_session_path, class: "text-warning", data: { turbo_method: :delete } do %>
                  <i class="fa-solid fa-right-from-bracket" viewBox="0 0 24 24"></i>
                  <span>ログアウト</span>
                <% end %>
              </li>
              <li></li>
              <li></li>
              <li><div div class='copyright'>
                <p>Copyright © 2025 NeuroWord～仲間の言葉を見つけよう！～</p>
              </div></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
    <!-- PC版ユーザーメニュー -->
    <div class="navbar-end dropdown dropdown-end hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li>
        <details>
          <summary class="text-xl"><%= "#{current_user.name} さん" %></summary>
          <ul class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm" >
            <li><a>準備中</a></li>
            <li><a>準備中</a>
              <ul class="p-2">
                <li><a>準備中</a></li>
                <li><a>準備中</a></li>
              </ul>
            </li>
            <li><%= link_to 'お問い合わせ', 'https://x.com/MO_study2408' %></li>
            <li>
              <%= link_to destroy_user_session_path, class: "text-warning", data: { turbo_method: :delete } do %>
                <i class="fa-solid fa-right-from-bracket" viewBox="0 0 24 24"></i>
                <span>ログアウト</span>
              <% end %>
            </li>
            <li></li>
            <li></li>
            <li><div div class='copyright'>
              <p>Copyright © 2025 NeuroWord～仲間の言葉を見つけよう！～</p>
            </div></li>
          </ul>
        </details>
        </li>
      </ul>
    </div>
  <% else %>
    <!-- 共通_ログイン前メニュー -->
    <div class="flex-none">
      <ul class="menu menu-horizontal md:px-1">
        <li class="sm:mx-1 md:mx-2">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary sm:btn-sm md:btn-md" %>
        </li>
        <li class="sm:mx-1 md:mx-2">
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-secondary sm:btn-sm md:btn-md" %>
        </li>
      </ul>
    </div>
  <% end %>
</div>



