<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 lg:grid-cols-8">
    <div class="lg:col-start-2 lg:col-span-6">
      <div class="card bg-base-100 shadow-lg p-6">
      <%= link_to t('.to_index'), requests_path, class: "link" %>
        <div class="flex items-center pt-4">
          <div><%= render 'requests/status_badge', request: @request %></div>
          <h1 class="text-2xl font-bold text-left px-2"><%= @request.title %></h1>
        </div>
        <div class="card-body">
          <ul class="pl-2 text-sm">

            

            <li class="pb-2"><%= t('.question') %><%= link_to "#{@request.question.title}  by #{@request.question.user.name}", question_path(@request.question), class: "link" %></li>
            <li><%= t('.request_user') %><%= @request.user.name %></li>
            <li class="pb-2"><%= t('.created_at') %><%= l @request.created_at, format: :long %></li>
            <% if @latest_request_response %>
              <li><%= t('.last_response_user') %><%= @latest_request_response.user.name %></li>
              <li><%= t('.last_response_created_at') %><%= l @latest_request_response.created_at, format: :long %></li>
            <% end %>
          </ul>
        </div>
          <h5 class="text-lg font-semibold pl-6 mb-2"><%= t('.content') %></h5>
          <div class="pl-6">
            <p><%= simple_format(@request.content) %></p>
          </div>
          <h5 class="text-lg font-semibold pl-6 mt-6 mb-2"><%= t('.responses') %></h5>
          <div class="pl-2">
            <%= render @request_responses %>
              <% if @request.status != "completed" %>
                <% if user_signed_in? %>
                 <%= render 'request_responses/form', request_response: @request_response, request: @request %>
                <% else %>
                  <span class="label-text ml-2"><%= t('.require_login') %></span>
                <% end %>
              <% else %>
                <div class="request-response-closed-message bg-accent">
                  <%= t('.closed') %>
                </div>
              <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
