<div class="max-w-md w-full mx-auto bg-base-100 p-4 sm:p-6">
  <h1 class="text-3xl font-bold mb-6 text-center">
    <%= t('devise.sessions.new.sign_in') %>
  </h1>

  <div class="max-w-md w-full mx-auto bg-base-200  p-4 sm:p-6 rounded-xl shadow-lg">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <fieldset class="fieldset">
        <%= f.label :email, class: "fieldset-legend" %>
        <%= f.email_field :email, class: "input w-full mx-auto", autofocus: true, placeholder: "例：sample@example.com",autocomplete: "email" %>
      </fieldset>

      <fieldset class="fieldset">
        <%= f.label :password, class: "fieldset-legend" %>
        <%= f.password_field :password, class: "input w-full mx-auto", autofocus: true, autocomplete: "current-password" %>
      </fieldset>


      <div class="actions my-8 text-sm">
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
        <%= f.submit t('devise.sessions.new.sign_in'), class: "btn btn-primary w-full mx-auto" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>


