<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="manifest" href="<%= pwa_manifest_path(format: :json) %>">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J5NHEVVS3Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J5NHEVVS3Q');
    </script>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/@yaireo/tagify', defer: true %>
    <%= display_meta_tags(default_meta_tags) %>
    <script src="https://kit.fontawesome.com/d9485f9c23.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'shared/loading' %>
    <div class="fixed sticky lg:top-0 z-2">
      <%= render 'shared/header' %>
    </div>
    <div id="flash" class="relative z-1 <%= content_for(:flash_wrapper_class) %>">
      <%= render 'shared/flash_messages' %>
    </div>
    <div class="mb-28 lg:mb-0">
      <% unless content_for?(:hide_breadcrumbs) %>
        <div class="px-6 pt-2">
          <%= breadcrumbs separator: " &rsaquo; ", class: "text-sm sm:text-base" %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div class="hidden lg:flex">
      <%= render 'shared/footer' %>
    </div>
    <div class="lg:hidden">
      <%= render 'shared/dock' %>
    </div>
  </body>
</html>
